body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.validate {
  -webkit-text-fill-color: rgb(95, 3, 3);
}

.container {
  border: 4px double blue;
  margin-inline: 100px;
}

p {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.warning {
  -webkit-text-fill-color: rgb(194, 9, 9);
  font-weight: bold;
}
